* {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1em;
}

.main>div {
    background: #eee;
    padding: 1rem;
    }

.main>div:nth-child(odd) {
    background:brown;
    padding: 1rem;
}